@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar los controles de número en Chrome, Safari, Edge, y Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
